/*header*/
body{
    background-color: #f8f6f6;
    font-family: 'Ubuntu', sans-serif;
}
nav.navbar-inverse{
    width: 100%;
    height: 75px;
    background-color: #f8f6f6;
    background-image: none;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.12);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.12);
    border-bottom: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #a2a3a5;
}

.navbar-inverse .navbar-nav li a{
    text-shadow: none;
}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #243045;
}

nav .container{
    /*max-width: 1020px;*/
    margin: 0 auto;
    padding: 0 30px;
}
.navbar-brand{
    padding: 0;
}
.navbar-header{
    height: 75px;
}
.collapse.in{
    border: none;
    background-color: #f8f6f6;
}
.navbar-inverse .navbar-toggle{
    background-color: #333;
}
ul.navbar-right{
    padding-top: 12px;
}
.navbar-inverse .navbar-nav  a.add-offer{
    background-image: none;
    padding: 14px 45px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom, #fbcb23 0px, #edc127 100%);
    -moz-box-shadow: inset 0 -2px 0 0  rgba(209, 176, 19, 0.57);
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(209, 176, 19, 0.57);
    box-shadow: inset 0 -2px 0 0  rgba(209, 176, 19, 0.57);
    background-color: #edc127;
    background-repeat: repeat-x;
}
.navbar-nav > li > a{
    padding-bottom: 14px;
    padding-top: 14px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #243045;
    color: #fff;
    background-image: linear-gradient(to bottom, #243045 0px, #0f0f0f 100%);
    background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav  a.add-offer:hover{
    background-color: #edc127;
    background-position: 0 -15px;
    color: #fff;
}

/*general buttons*/
.btn-green{
    display: inline-block;
    background-image: linear-gradient(to bottom, #63c848 0px, #5cb943 100%);
    box-shadow: inset 0 -2px 0 0  rgba(75, 157, 54, 0.86);
    -moz-box-shadow: inset 0 -2px 0 0  rgba(75, 157, 54, 0.86);
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(75, 157, 54, 0.86);
    color: #fff;
    font: 500 17px/22px 'Ubuntu', sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    background-color: #63c848;
    border: 0;
    text-align: center;
}
/*end general buttons*/




/*banner homepage*/
.banner{
    padding-top: 75px;
    width: 100%;
    position: relative;
}
.banner-text{
    position: absolute;
    top: 45%;
    left: 0;
    width: 50%;
    text-align: right;
    padding: 15px 25px;
    background-color: rgba(36, 48, 69, 0.55)
}
.banner-text span:first-child{
    color: #fff;
    font-size: 36px
}
.banner-text span{
    font-size: 25px;
    color: #fff;
    display: block;

}

.banner-img{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.banner-img img {
    width: 100%;
    max-height: 396px;
    min-height: 100px;
    max-width: 1500px;
    min-width: 320px;
    margin: 0 auto;
}

li.displayOnMobile {
    display: none;
}

.generalContainer  {
}

.hideOnMobile {
    display: block;
}

#LoginRegisterContainer {
    display:none;
    /*
    top: 75px;
    margin-right: 20px;
    padding: 0px;
    width:100%;
    position: absolute;
    z-index: 9999;

    border: 1px solid red;*/
    margin: 0 -15px;
    padding: 0;
}

#LoginRegisterContainer .contentLoginRegister {
    background-color: #fff;
    border: 1px solid #eaeaea;
    float: right;
    padding:20px;
    width: 297px;
}

#LoginRegisterContainer h3 {
    margin-top: 0px;
}

.socialLogin {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

.panel-default{
    position: relative;
    top: -67px;
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 0 auto;
}
.panel-default .category{
    text-align: center;
}
.category{
    padding: 0;
}

.category:hover, .active{
    background-color: #243045;
    color: #fff;
}

.category img{
    max-height: 35px;
    width: auto;
    margin: 0 auto;
}

.category a {
    display: block;
    padding: 30px 0;
    font-size: 18px;
    color: #243045;
}
.category a:hover, .active a{
    color: #fff;
    text-decoration: none;
}
.category a span{
    display: block;
    padding-top: 14px;
}

.panel-body{
    padding-top: 0;
    padding-bottom: 0;
}
.offer span{
    font: 22px/50px 'Ubuntu', sans-serif;
    padding-left: 71px;
    position: relative;
    color: #243045;

}
.offer span:before{
    content:"";
    width: 51px;
    height: 55px;
    background: url(../img/list-icon.png) no-repeat;
    position: absolute;
    left: 0;
    top: -50%;
}
.offer button{
    float: right;
    border-radius: 0;
    padding: 12px 73px;
    box-shadow: inset 0 -2px 0 0  rgba(162, 46, 46, 0.9);
    -moz-box-shadow: inset 0 -2px 0 0  rgba(162, 46, 46, 0.9);
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(162, 46, 46, 0.9);
}
.offer button a{
    color: #fff;
    font: 500 18px/24px 'Ubuntu', sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.43);
}
h3.new{
    color: #545454;
    font: 300 22px/28px 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
}
.announcement.panel{
    padding: 15px 17px;
    margin-left: 0;
}
.announcement .description .about{
    height: 39px;
    overflow: hidden;
    margin-bottom: 15px;
    font: 13px/19px 'Ubuntu', sans-serif;
    color: #6c727e;
}
.announcement .description .model{
    font-weight: 300;
    font: 16px/23px 'Ubuntu', sans-serif;
    color: #a2a3a5;
}
.announcement .price{
    font: 500 19px/1.2 'Ubuntu', sans-serif; 
    color: #243045;
    text-align: right;
    display: table;
    height: 130px;
}
.announcement .price span{
    display: table-cell;
    vertical-align: middle;
}
.announcement .picture{
    padding: 0;
}
.announcement .picture img{
    min-width: 130px;
    height: auto;
}

.right-pic{
    padding: 15px;
}

.description .media-heading a{
    font: 19px/25px 'Ubuntu', sans-serif;
    color: #243045;
    font-weight: 500;
}




footer{
    background-color: #243045;
    padding-bottom: 60px;
    margin-top: 50px;
}
footer .container{
    padding-top: 40px;
}
.newsletter{
    background-color: #fff;
    padding: 22px 138px 13px;
    overflow: hidden;
}
.newsletter p{
    float: left;
    text-align: right;
}
.newsletter p span:first-child{
    font-size: 22px;
    color: #424242;
}
.newsletter span{
    display: block;
    color: #9b9a9a;
    font-size: 14px;
}
.newsletter .form-group{
    float: left;
    margin-right: 10px;
    margin-left: 80px;
}
.newsletter .form-control{
    border-radius: 0;
    border-color: #dfdede;
    height: 47px;
    min-width: 370px;
    padding-left: 42.5px;
}
.has-success span.form-control-feedback{
    left: 0;
    color: #989696;
    top: 7px;
}
.form-control::-webkit-input-placeholder {
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300; 
}

.form-control:-ms-input-placeholder {  
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300;  
}
.has-success .form-control:focus {
    border-color: #989696;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #989696;
}
.btn-newsletter{
    float: left;
    padding: 12px 43px;
}
.btn-newsletter a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px
}
.btn-success:focus, .btn-success:hover {
    background-color: #5cb943 ;
}
.social-media li{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 18px;   
}
.social-media li.google{
    margin-right: 0;
}
.social-media li a{
    background-image: url(../img/social-media.png);
    display: block;
    width: 100%;
    height: 100%;

}
/*.social-media li.fb a{
    background-position: 0 0; 
}
.social-media li.tw a{
    background-position: 146px 0;;
}
.social-media li.rss a{
    background-position: 91px 0;;
}
.social-media li.google a{
    background-position: 36px 0;;
}*/
.mobile-app .ggl-play a{
    background-image: url(../img/google-play.png);
    width: 121px;
    height: 41px;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 10px;
}
.mobile-app .app-store a{
    background-image: url(../img/app-store.png);
    width: 121px;
    height: 41px;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;  
}
.info h3, .info2 h3, .mobile-app h3, .social-media h3{
    font: 300 22px/28px 'Ubuntu', sans-serif;
    color: #fff;
    margin-top: 0;
}
.info a, .info2 a, .mobile-app a, .social-media a{
    color: #a2aec2;
    font: 300 13px/19px 'Ubuntu', sans-serif;
}


/*login popup*/
#loginForm, .loginForm{
    overflow: hidden;
}
#loginContainer h4, 
#registerContainer h4,
#forgotContainer h4{
    font: 600 21px/26px 'Ubuntu', sans-serif;
    color: #243045;
    margin-top: 0;
}
.loginForm input{
    border: 1px solid #c4c7cc;
    height: 30px;
    padding: 0 10px;
}
.loginForm label, .ForgotForm label{
    font: 300 15px/20px 'Ubuntu', sans-serif;
    color: #243045;
    margin-bottom: 0;
}
.ForgotForm input{
    margin-bottom: 20px;
    border: 1px solid #c4c7cc;
    height: 30px;
    padding: 0 10px;
}
#loginForm div:nth-child(odd), #registerForm div{
    margin-bottom: 20px;
}
#loginButton, #registerButton, #forgotButton{
    padding: 9px 40px;
}
#loginButton:hover, #registerButton:hover, #forgotButton:hover{
    color: #ffff;
}
label[for=globalLoginFieldPass]{
    width: 50%;
    float: left;
}
label[for=globalLoginFieldRemember]{
    width: 90%;
    float: left;
    line-height: 34px;
    padding-left: 10px;
    font-size: 13px;
    color: #778192;
}
input#globalLoginFieldRemember{
    width: 6%;
    float: left;
}
#forgotTab{
    float: right;
    color: #778192;
    font: 300 12px/17px 'Ubuntu', sans-serif;
}
#loginContainer .register{
    text-align: center;
}
#loginContainer .register a{
    font: 17px/23px 'Ubuntu', sans-serif;
    color: #243045;
}
#loginOptionFacebook{
    background-image: url(../img/fb-login.jpg);
    width: 100%;
    height: 47px;
    display: block;
    padding: 12px;
    color: #fff;
    font: 500 17px/22px 'Ubuntu', sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
#loginOptionFacebook:hover{
    text-decoration: none;
}
#loginTab{
    font: 17px/23px 'Ubuntu', sans-serif;
    color: #243045;
    margin-top: 10px;
    display: block;
}
#errorLoginRegister{
    font: 300 12px/17px 'Ubuntu', sans-serif;
}
/*end login popup*/


/*category page*/
.car-brand >h3{
    font: 300 25px/30px 'Ubuntu', sans-serif;
    color: #545454;
    margin-top: 0;
    margin-bottom: 25px;
}
.popular-brands,.car-brand-list{
    float: left;
    margin-bottom: 25px;
    width: 100%;
}
.popular-brands .brand{
    width: 10.75%;
    float: left;
    margin-right: 2%;
    background-color: #fff;
    height: 100px;
    text-align: center;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
}
.popular-brands div:last-child{
    margin-right: 0;
}
.brand img{
    min-height: 100px
}
.brand h3{
    margin-top: 30%;
}
.car-brand-list a{
   font: 300 14px/20px 'Ubuntu', sans-serif;
   color: #545454;
}
#searchAds{
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
}
.brand-listing .announcement{
    margin-right: 0;
    margin-left: -15px;
}
.brand-listing h3, .filters h3{
    font: 300 21px/26px 'Ubuntu', sans-serif;
    color: #545454;
}
.key-words #searchInput{
    width: 100%;
}
.made-year, .part-look{
    width: 50%;
    float: left;
}
#searchAds button{
    width: 100%;
    padding: 13px;
    margin-top: 20px;
}
#searchAds label{
   font: 600 14px/20px 'Ubuntu', sans-serif;
   color: #243045;
   margin-bottom: 12px;
   margin-top: 22px;
}
#searchAds .key-words label{
    margin-top: 0;
}
#searchAds input, #searchAds select{
    border-radius: 0;
    background-color: #e9e9e9;
    height: 34px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*end category page*/











/*responsive design*/
@media screen and (max-width: 1200px){
    .announcement .price{
        height: 117px;
    }
    .announcement .picture img {
        min-width: 100%;
    }


}

@media screen and (max-width: 1024px){
    .navbar-inverse .navbar-nav  a.add-offer{
        padding: 14px 20px;
    }
}
@media screen and (max-width: 980px){
   
}
@media screen and (max-width: 768px){
    /*#categoryContainer{
        width: 75%;
    }
    .category a{
        padding: 12px 0;
        font-size: 15px;
    }*/
    .banner-text{
        width: 75%;
    }
    .banner-text span{
        font-size: 20px;
        line-height: 26px;
    }
    .banner-text span:first-child{
        font-size: 30px;
        line-height: 36px;
    }
    .announcement .picture img{
        min-width: 35%;
        margin: 0 auto;
    }
    .announcement .description{
        text-align: center;
        margin-top: 20px;
    }
    .announcement .price{
        text-align: center;
        height: 50px;
    }
}
@media screen and (max-width: 640px){
   
}
@media screen and (max-width: 480px){
   
}
@media screen and (max-width: 320px){
   
}