/*header*/
body{
    background-color: #eeeded;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    /*line-height: 1;*/
}

.__showOnMobile__ {
    display: none;
}
.__hideOnMobile__ {
    display: block;
}
.__showMobileMenu__ {
    display: none;
}
.__hideMobileMenu__ {
    display: block;
}

.nav > li.__showMobileMenu__ {
    display: none;
}
.nav > li.__hideMobileMenu__ {
    display: block;
}

h3{
    font: 300 21px/26px 'Ubuntu', sans-serif;
    color: #363636;
}
.product-details p.description a {
    color: #337ab7;
    text-decoration: underline;
}
a:focus, a:hover {
    color: #243046;
}
.panel {
    border-radius: 0;
}
nav.navbar-inverse{
    width: 100%;
    height: 75px;
    background-color: #f8f6f6;
    background-image: none;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.12);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.12);
    border-bottom: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #a2a3a5;
}

.navbar-inverse .navbar-nav li a{
    text-shadow: none;
    padding-right: 10px;
    padding-left: 10px;
    color:#666;
    font-weight: 400;
}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #243045;
}

nav .container{
    /*max-width: 1020px;*/
    margin: 0 auto;
    padding: 0 30px;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand  img {
    z-index: 9999;
}
.navbar-header{
    height: 75px;
}
.collapse.in{
    border: none;
    background-color: #f8f6f6;
}
.navbar-inverse .navbar-toggle{
    background-color: #333;
}
ul.navbar-right{
    padding-top: 12px;
}
.navbar-inverse .navbar-nav  a.add-offer{
    background-image: none;
    padding: 14px 45px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom, #fbcb23 0px, #edc127 100%);
    -moz-box-shadow: inset 0 -2px 0 0  rgba(209, 176, 19, 0.57);
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(209, 176, 19, 0.57);
    box-shadow: inset 0 -2px 0 0  rgba(209, 176, 19, 0.57);
    background-color: #edc127;
    background-repeat: repeat-x;
}
.navbar-nav > li > a{
    padding-bottom: 14px;
    padding-top: 14px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #243045;
    color: #fff;
    background-image: linear-gradient(to bottom, #243045 0px, #0f0f0f 100%);
    background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav  a.add-offer:hover{
    background-color: #edc127;
    background-position: 0 -15px;
    color: #fff;
}

/* card material design */
.card {
    background: #fff;
    border-radius: 2px;
    display: block;
    /*float: left;*/
    /*height: 300px;*/
    /*margin: 1rem;*/
    /*position: relative;*/
    /*width: 300px;*/
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.card-1:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
}
.card-2:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-3:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*general buttons*/
.button {
    display: inline-block;
    color: #fff;
    font: 500 15px/1.2 'Ubuntu', sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 10px 20px;
} 
.button:hover {
    color: #fff;
} 
.btn-green{
    background-color: #63c848;
    background: -webkit-linear-gradient(#64c948, #5cb942); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#64c948, #5cb942); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#64c948, #5cb942); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#64c948, #5cb942); /* Standard syntax */
    box-shadow: inset 0 -2px 0 0  rgba(75, 157, 54, 0.86);
    -moz-box-shadow: inset 0 -2px 0 0  rgba(75, 157, 54, 0.86);
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(75, 157, 54, 0.86);
    
}

.btn-red{
    background-color: #d03e3e;
    background: -webkit-linear-gradient(#d03e3e, #bc3838); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d03e3e, #bc3838); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d03e3e, #bc3838); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d03e3e, #bc3838); /* Standard syntax */
    box-shadow: inset 0 -2px 0 0  rgba(162, 46, 46, 0.9);
    -moz-box-shadow: inset 0 -2px 0 0  rgba(162, 46, 46, 0.9);
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(162, 46, 46, 0.9);
}

.btn-blue{
    background-color: #243046;
    background: -webkit-linear-gradient(#243046, #4a578a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#243046, #4a578a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#243046, #4a578a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#243046, #4a578a); /* Standard syntax */
    box-shadow: inset 0 -2px 0 0  rgba(0, 51, 153, 0.9);
    -moz-box-shadow: inset 0 -2px 0 0  rgba(0, 51, 153, 0.9);
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 51, 153, 0.9);
}
.btn-blue:hover{
    background: #4a578a;
}
/*end general buttons*/




/*banner homepage*/
.banner{
    padding-top: 75px;
    width: 100%;
    position: relative;
}
.banner-text{
    position: absolute;
    top: 30%;
    left: 0;
    width: 50%;
    text-align: right;
    padding: 15px 20px;
    background-color: rgba(36, 48, 69, 0.55)
}
.banner-text span:first-child{
    color: #fff;
    font-size: 31px
}
.banner-text span{
    font-size: 22px;
    color: #fff;
    display: block;
}

.banner-img{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.banner-img img {
    width: 100%;
    max-height: 396px;
    min-height: 100px;
    max-width: 1500px;
    min-width: 320px;
    margin: 0 auto;
}

li.displayOnMobile {
    display: none;
}

.hideOnMobile {
    display: block;
}

#LoginRegisterContainer {
    display:none;
    /*
    top: 75px;
    margin-right: 20px;
    padding: 0px;
    width:100%;
    position: absolute;
    z-index: 9999;

    border: 1px solid red;*/
    margin: 0 -15px;
    padding: 0;
}

#LoginRegisterContainer .contentLoginRegister {
    /*background-color: #f8f6f6;
    border: 1px solid #eaeaea;*/
    float: right;
    padding:20px;
    width: 297px;
}

#LoginRegisterContainer h3 {
    margin-top: 0px;
}

.socialLogin {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

.category-panel {
    position: relative;
    top: -67px;
    border: none;
    /*box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);*/
    width: 100%;
    margin: 0 auto;
}
.category-panel .category{
    text-align: center;
}
.category{
    padding: 0;
}

.category:hover, .active{
    background-color: #243045;
    color: #fff;
}

.category img{
    max-height: 35px;
    width: auto;
    margin: 0 auto;
}

.category a {
    display: block;
    padding: 30px 0;
    font-size: 18px;
    color: #243045;
}
.category a:hover, .active a{
    color: #fff;
    text-decoration: none;
}
.category a span{
    display: block;
    padding-top: 14px;
}

.offer span{
    font: 22px/50px 'Ubuntu', sans-serif;
    padding-left: 71px;
    position: relative;
    color: #243045;

}
.offer span:before{
    content:"";
    width: 51px;
    height: 55px;
    background: url(../img/list-icon.png) no-repeat;
    position: absolute;
    left: 0;
    top: -50%;
}

h3.new{
    color: #545454;
    font: 300 22px/1.2px 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}
.offer .button {
    padding: 15px 64px;
    float: right;
}
.announcement {
    overflow: hidden;
    padding: 15px 0;
}
.announcement .about {
    height: 39px;
    overflow: hidden;
    margin-bottom: 15px;
    font: 13px/19px 'Ubuntu', sans-serif;
    color: #444;
}
.announcement .model{
    font-weight: 300;
    font: 16px/23px 'Ubuntu', sans-serif;
    color: #a2a3a5;
}
.announcement .model a {
    color: #888;
}
.announcement .price {
    display: block;
    font: 500 19px/1.2 'Ubuntu', sans-serif; 
    color: #243045;
    text-align: right; 
}
.announcement .county {
    display: block;
    color: #8E929F;
    text-align: right;
}
.announcement .picture, .price-container {
    display: table;
    table-layout: fixed;
    height: 130px;
}
.announcement .picture a, .price-container .wrapper {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.announcement .picture img {
    width: 100%;
    height: auto;
    border: 1px solid #dadada;
}

.right-pic{
    padding: 15px;
}

.announcement .description .title {
    margin-top: 10px;
}

.announcement .description .title a{
    font: 19px/25px 'Ubuntu', sans-serif;
    color: #243045;
    font-weight: 500;
}

.announcement .description .stare {
    color: #A2A3A5;
    padding-left: 20px;
    font-weight: normal;
    font-size: 15px;
}

/*.announcement .model .category-icon {
    width: 30px;
    height: 30px;
}*/
.category-icon img {
    width: 24px;
    margin: 0 5px 0 0;
    padding: 0 0px 0 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.car-brand-icon img {
    width: 24px;
    margin: 0 5px 0 0;
    padding: 0 0px 0 0;
}


footer{
    background-color: #243045;
    padding-bottom: 60px;
    margin-top: 50px;
}
footer .container{
    padding-top: 40px;
}
.newsletter{
    display: none;
    background-color: #fff;
    padding: 22px 138px 13px;
    overflow: hidden;
}
.newsletter p{
    float: left;
    text-align: right;
}
.newsletter p span:first-child{
    font-size: 22px;
    color: #424242;
}
.newsletter span{
    display: block;
    color: #9b9a9a;
    font-size: 14px;
}
.newsletter .button {
    padding-top: 14px;
    padding-bottom: 14px;
}
.newsletter .form-group{
    float: left;
    margin-right: 10px;
    margin-left: 80px;
}
.newsletter .form-control{
    border-radius: 0;
    border-color: #dfdede;
    height: 47px;
    min-width: 370px;
    padding-left: 42.5px;
}
.has-success span.form-control-feedback{
    left: 0;
    color: #989696;
    top: 7px;
}
.form-control::-webkit-input-placeholder {
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300; 
}

.form-control:-ms-input-placeholder {  
   color: #c5c5c5;
   font-size: 17px;
   font-weight: 300;  
}
.has-success .form-control:focus {
    border-color: #989696;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #989696;
}
.social-media li{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 18px;   
}
.social-media li.google{
    margin-right: 0;
}
.social-media li a{
    background-image: url(../img/social-media.png);
    display: block;
    width: 100%;
    height: 100%;

}
/*.social-media li.fb a{
    background-position: 0 0; 
}
.social-media li.tw a{
    background-position: 146px 0;;
}
.social-media li.rss a{
    background-position: 91px 0;;
}
.social-media li.google a{
    background-position: 36px 0;;
}*/
.mobile-app .ggl-play a{
    background-image: url(../img/google-play.png);
    width: 121px;
    height: 41px;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 10px;
}
.mobile-app .app-store a{
    background-image: url(../img/app-store.png);
    width: 121px;
    height: 41px;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;  
}
.info h3, .info2 h3, .mobile-app h3, .social-media h3{
    font: 300 22px/28px 'Ubuntu', sans-serif;
    color: #fff;
    margin-top: 0;
}
.info a, .info2 a, .mobile-app a, .social-media a{
    color: #a2aec2;
    font: 300 13px/19px 'Ubuntu', sans-serif;
}


/*login popup*/
#loginForm, .loginForm{
    overflow: hidden;
}
#loginContainer h4, 
#registerContainer h4,
#forgotContainer h4{
    font: 600 21px/26px 'Ubuntu', sans-serif;
    color: #243045;
    margin-top: 0;
}
.loginForm input{
    border: 1px solid #c4c7cc;
    height: 30px;
    padding: 0 10px;
}
.loginForm label, .ForgotForm label{
    font: 300 15px/20px 'Ubuntu', sans-serif;
    color: #243045;
    margin-bottom: 0;
}
.ForgotForm input{
    margin-bottom: 20px;
    border: 1px solid #c4c7cc;
    height: 30px;
    padding: 0 10px;
}
#loginForm div:nth-child(odd), #registerForm div{
    margin-bottom: 20px;
}
label[for=globalLoginFieldPass]{
    width: 50%;
    float: left;
}
label[for=globalLoginFieldRemember]{
    width: 90%;
    float: left;
    line-height: 34px;
    padding-left: 10px;
    font-size: 13px;
    color: #778192;
}
input#globalLoginFieldRemember{
    width: 6%;
    float: left;
}
#forgotTab{
    float: right;
    color: #778192;
    font: 300 12px/17px 'Ubuntu', sans-serif;
}
#loginContainer .register{
    text-align: center;
}
#loginContainer .register a{
    font: 17px/23px 'Ubuntu', sans-serif;
    color: #243045;
}
#loginOptionFacebook{
    background-image: url(../img/fb-login.jpg);
    width: 100%;
    height: 47px;
    display: block;
    padding: 12px;
    color: #fff;
    font: 500 17px/22px 'Ubuntu', sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
#loginOptionFacebook:hover{
    text-decoration: none;
}
#loginTab{
    font: 17px/23px 'Ubuntu', sans-serif;
    color: #243045;
    margin-top: 10px;
    display: block;
}
#errorLoginRegister{
    font: 300 12px/17px 'Ubuntu', sans-serif;
}
/*end login popup*/


/*category page*/
.parts-main-container {
    padding-top: 70px;
}
.car-brand >h3{
    font: 300 25px/30px 'Ubuntu', sans-serif;
    color: #545454;
    margin-top: 0;
    margin-bottom: 25px;
}
.popular-brands{
    margin-bottom: 25px;
}

.car-brand-list{
    float: left;
    margin-bottom: 25px;
    width: 100%;
    padding: 10px;
}

.car-brand-list a {
    display: block;
    margin: 0 0 -15px;
}
.car-brand-list span {
    border-bottom: 4px solid transparent;
    border-left: 6px solid #b6bcc5;
    border-top: 4px solid transparent;
    float: left;
    height: 0;
    margin-top: 6px;
    padding-top: -1px;
    width: 15px;
}
.popular-brands .brand{
    display: table;
    height: 80px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.popular-brands div:last-child{
    margin-right: 0;
}
.brand a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.brand a h3 {
    color: #0079bf;
    font-weight: 400;
    margin: 0;
}
.brand img{
    margin: 0 auto;
    max-height: 80px;
}
.change-categories .popular-brands {
    margin-bottom: 0px;
    margin-left: 20px;
}
.change-categories .popular-brands .brand {
    height: 60px;
    margin: 5px;
}
.change-categories .brand img {
    min-height: 50px;
    padding-right: 0;
}
.change-categories .brand h3 {
    font-size: 15px;
    line-height: 14px;
}
.car-brand-list a{
   font: 300 14px/20px 'Ubuntu', sans-serif;
   color: #545454;
}
#searchAnnnouncement{
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
}
.brand-listing {
    margin-top: -126px;
}
.key-words #searchInput{
    width: 100%;
}
.made-year, .part-look{
    width: 50%;
    float: left;
}
#searchAnnnouncement button{
    width: 100%;
    padding: 13px;
    margin-top: 20px;
}
#searchAnnnouncement label{
   font: 600 13px/20px 'Ubuntu', sans-serif;
   color: #243045;
   margin-bottom: 12px;
   margin-top: 22px;
}
#searchAnnnouncement .key-words label{
    margin-top: 0;
}
#searchAnnnouncement input, #searchAnnnouncement select{
    /*border-radius: 0;*/
    background-color: #e9e9e9;
    height: 34px;
    padding:8px;
    border:1px solid #CACACA;
    color: #666;
    width: 100%;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

span.no-results-found {
    color: #acacb7;
    font: 19px/50px "Ubuntu",sans-serif;
    padding-left: 0px;
    position: relative;
    font-weight: 100;
}

/*end category page*/


/*product page*/

#allCarsContainer {
    position: relative;
    z-index: 999;
}
.change-categories >a{
    border-radius: 0;
    color: #424242;
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
    padding: 20px 15px;
    text-decoration: underline;
    /*width: 250px;*/
    margin-right: 0px;
    width: 100%;
}
#changeCarMakeButton {
    margin: 0 20px 10px 0;
    height:60px;
    line-height: 3.7;
    padding: 0 15px;
}

#changeCarMakeButton span.arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #b6bcc5;
    float: right;
    margin-top:25px
  }

.change-categories img{
    max-height: 30px;
    width: auto;
    display: inline;
    padding-right: 10px;
}
.offer2 a {
    float: right;
    padding: 21px 64px;
}
.info-dates {
    margin-bottom: 30px;
}
.info-dates >span{
    color: #666;
    font-weight: 300;
    font-size: 13px;
    padding-right: 15px;
}
.info-dates >span span{
    padding-right: 5px;
}
.product-details {
    width: 100%;
    /*float: left;*/
    overflow: hidden;
}
.product-images{
    width: 60%;
    float: left;
    margin-right: 15px;
    padding: 15px;
}
.product-info{
    width: calc(40% - 15px);
    float: left;
    padding: 15px 20px;
}

.product-images img {
    width: 100%;
    height: auto;
}
.product-images .big-image img {
    -max-height: 370px;
}
.product-images p.description {
    display: none;
}
.tumb-img {
    max-height: 85px;
}
.product-info {
    position: relative;
}
.price-box {
    position: absolute;
    top: 14px;
    right: -12px;
}
.price-box span{
    display: block;
}
.price-box .price{
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    background-color: #243045;
    padding: 10px 35px;
}
.price-box .stare{
    float: right;
    background-color: #e9e9e9;
    padding: 5px 25px;
    color: #8d929a;
}
.seller{
    width: 68%;
    margin-bottom: 50px;
    height: 50px
}
.seller span {
    color: #c4c7ca;
}
.seller h4 {
    margin-bottom: 0;
    color: #243045;
    text-transform: uppercase;
    height: 40px;
    overflow: hidden;
}
.seller a {
    color: #969798;
    text-decoration: underline;
}
.seller a:hover{
    text-decoration: none;
}
.info-details p{
    color: #c4c7ca;
    font-size: 16px;
}
.info-details p span{
    color: #868788;
}
.info-details p.description, .product-images p{
    height: 115px;
    overflow: hidden;
    margin: 30px 0 40px 0;
    color: #868788;
}
.info-details p.description-long{
    height: auto;
    /*overflow: hidden;*/
    /*margin: 51px 0;*/
    /*color: #868788;*/
}

.contact a.button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
}
.contact a.button-mail {
    width: 45%;
    padding: 10px;
    font-size: 13px;
    float: left;
}
.contact a.button-tel {
    width: 45%;
    padding: 10px;
    font-size: 13px;
    float: right;
}
/*end product page*/


/*my account page*/
.my-account {
    margin-top: 54px;
}
.my-account li {
    height: 51px;
    text-align: center;
}
.my-account  li a {
    display: block;
    font-size: 17px;
    line-height: 1.2;
    color: #575757;
    padding: 15px;
    font-weight: 100
}

.my-account li.active a {
    color: #fff;
}
.my-account  li.active {
    box-shadow: none;
    position: relative;
}
.my-account li.active:after{
    position: absolute;
    top: -1px;
    right: -1px;
    content: "";
    width: 0; 
    height: 0; 
    border-top: 26px solid #f8f6f6;
    border-left: 14px solid #243045; 
    border-bottom: 26px solid #f8f6f6;
}

ul.dropdown-menu li a {
    color: #575757 !important;
    line-height: 1;
    height: 100%;
}
/*end my account*/






/*responsive design*/
@media screen and (max-width: 1200px){

    /*.announcement .price{
        height: 117px;
    }*/
    #searchAnnnouncement label {
        font: 600 12px/20px 'Ubuntu', sans-serif;
    }

    .category a {
        font-size:15px;
    }

}

@media screen and (max-width: 1024px){
    .navbar-header a.btn-red {
        display: none;
    }
    .navbar-inverse .navbar-nav  a.add-offer{
        padding: 14px 20px;
    }
}
@media screen and (max-width: 980px){

    #searchAnnnouncement label {
        font: 600 12px/20px 'Ubuntu', sans-serif;
    }
    .product-info {
        width:48%;
    }
    .product-info .info-details p.description {
        display: none;
    }
    .product-images p.description {
        display: block;
    }
    .product-images {
        width:48%;
    }

}
@media screen and (max-width: 768px){
    .nav > li.__showMobileMenu__ {
        display: none;
    }
    .nav > li.__hideMobileMenu__ {
        display: block;
    }
    .__showMobileMenu__ {
        display: block;
    }
    .__hideMobileMenu__ {
        display: none;
    }
    .brand-listing {
        margin-top: 0px;
    }
    #searchAnnnouncement label {
        font: 600 14px/20px 'Ubuntu', sans-serif;
    }
    /*.brand-listing {
        margin-top: -126px;
    }*/
    /*#categoryContainer{
        width: 75%;
    }
    .category a{
        padding: 12px 0;
        font-size: 15px;
    }*/
    h3.new {
        font-size: 26px;
        line-height: 1.2;
    }
    .banner-text{
        display: none;
    }

    .announcement .price-container span {
        text-align: left;
    }

    .announcement .picture, .price-container {
        height: auto;
    }

    .right-pic img {
        display: block;
        margin: 0 auto;
    }

    .product-info {
        width:100%;
    }
    .product-images {
        width:100%;
    }
    .product-info .info-details {
        display: block;
    }
    .product-images p.description {
        display: none;
    }


/*footer*/

    footer .logo {
        margin-bottom: 20px;
        text-align: center;     
    }

    footer .info, footer .info2 {
        text-align: center;
    }
    .mobile-app {
        text-align: center;
    }
    .mobile-app li a {
        margin: 0 auto;
    }
    .social-media {
        text-align: center;
    }

   /*.category span {
    font-size: 12px;
   }*/
}
@media screen and (max-width: 640px){
   
}
@media screen and (max-width: 480px){
    .__showOnMobile__ {
        display: block;
    }
    .__hideOnMobile__ {
        display: none;
    }
    .announcement .model {
        display: none;
    }
    .announcement .description .about {
        display: none;
    }
    .announcement .description .title a {
        font-size: 15px;
        line-height: 15px;
    }
    .announcement .description .stare {
        display: none;
    }
    .announcement .price-container {
        display: none;
    }
    .announcement .price {
        font-size: 13px;
    }
    .announcement .priceMobile {
        float: left;
    }

    .announcement .county {
        font-size: 12px;
        text-align: left;
    }
    .filters .partners {
        display: none;
    }
    .parts-main-container {
        padding-top: 30px;
    }
    .category-panel {
        margin-top: 90px;
        top:0px;

    }
    .category-on-piese .category {
        padding: 0 5px;
    }
    .category-on-piese .category span {
        display: none;
    }
    .category-on-piese .category a {
        padding: 15px 0;
    }
    #allCarsContainer .popular-brands {
        display: none;
    }
    .change-categories > a {
        padding: 10px 25px;

    }
    /*.category-panel .category a span{
        font-size: 14px;
    }*/
}
@media screen and (max-width: 320px){

}
